table {
    width: 100%;
  }

mat-spinner {
  margin: auto;
  margin-top: 30px;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
  padding: 0px 10px;
}

.button-row {
  display: table-cell;
  margin-right: 8px;
}