<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container" *ngIf="!isLoading">
    <form [formGroup]="form" (submit)="onSaveAddress()">
        <mat-form-field>
            <mat-label>Register Number</mat-label>
            <input matInput placeholder="Register Number" formControlName="registerNumber">
        </mat-form-field>
        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput placeholder="City" formControlName="city">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" formControlName="address">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Floors</mat-label>
            <input matInput placeholder="Floors" formControlName="floors">
        </mat-form-field>
        <mat-form-field>
            <mat-label>How many elevators?</mat-label>
            <input matInput placeholder="How many elevators?" formControlName="elevators">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Type Elevator</mat-label>
            <mat-select formControlName="typeElevator">
                <mat-option *ngFor="let elevator of elevators" [value]="elevator._id">{{elevator.type}}</mat-option>
            </mat-select>
        </mat-form-field>
        <section>
            <mat-checkbox formControlName="isGroundFloor">Is ground floor?</mat-checkbox>
            <br>
            <mat-checkbox formControlName="basement">Basement?</mat-checkbox>
            <br>
            <mat-checkbox formControlName="isActive">Is active?</mat-checkbox>
        </section>
        <button mat-raised-button color="primary" type="submit">Save Address</button>
    </form>
</div>